@media (min-width: 768px) {
  .pl-md-5,
  .px-md-5 {
    padding-left: 3rem !important;
  }
}

.fixed-top {
  /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}
.navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.5rem 1rem; */
  background-color: #fafafb;
  transition: all 0.5s ease;
}
@media (min-width: 768px) {
  .pl-md-4,
  .px-md-4 {
    padding-left: 1.5rem !important;
  }
}

@media (min-width: 768px) {
  .ml-md-5,
  .mx-md-5 {
    margin-left: 3rem !important;
  }
}
.d-flex {
  display: flex !important;
}
.q-flex {
  margin-left: -10%;
}
.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}
.align-items-center {
  align-items: center !important;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar .nav-bar__logo {
  width: 150px;
  height: unset;
  max-height: 88px;
  transition: all 0.5s ease;
}
.float-left {
  float: left !important;
}
.rounded {
  border-radius: 0.25rem !important;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}
.navbar-toggler-icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: 50%/100% 100% no-repeat;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar .navbar-nav {
  align-items: center;
}
@media (min-width: 768px) {
  .mr-md-2,
  .mx-md-2 {
    margin-right: 0.5rem !important;
  }
}
.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative;
}
.navbar-nav > .nav-item > .nav-link,
.nav-tabs-bottom > .nav-item > .nav-link {
  border-bottom: 2px solid transparent;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
.font-l5.font-l5--regular {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.01em;
}
.btn,
.dropdown-menu1 > li > a,
.dropdown-menu1 > li > label,
.icons-list > li > a,
.nav li > a > .label,
.nav-tabs > li > a,
.nav-tabs > li > a::after,
.navbar-nav > li > a,
a.label {
  transition: all ease-in-out 0.15s;
}
.font-l5 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.01em;
}
.text-decoration-none {
  text-decoration: none !important;
}
.text-dark {
  color: #48505e !important;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu1 {
    position: absolute;
  }
}
/* .navbar-nav .dropdown-menu1 {
  position: static;
  float: none; 
} */

.dropdown-menu1 {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 1rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #24282f;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;

  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
/* .nav-link:hover .dropdown-menu1{
    display: block;
  } */
.font-l5 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.01em;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.6rem 1.25rem;
  clear: both;
  font-weight: 400;
  color: #24282f;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}
.font-l5.font-l5--regular {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.01em;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.text-dark {
  color: white !important;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
.btn.lumen5-button.btn-primary.btn-outline {
  color: #5846f6;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn.lumen5-button.btn-outline {
  background-color: transparent;
}
.btn.lumen5-button.btn-primary {
  border: 1px solid #5846f6;
  background-color: #5846f6;
  color: #fff;
}
.btn.lumen5-button {
  min-width: 70px;
}
.btn,
.dropdown-menu > li > a,
.dropdown-menu > li > label,
.icons-list > li > a,
.nav li > a > .label,
.nav-tabs > li > a,
.nav-tabs > li > a::after,
.navbar-nav > li > a,
a.label {
  transition: all ease-in-out 0.15s;
}
.btn-rounded {
  border-radius: 100px;
}
.btn {
  text-transform: none;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #24282f;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.8571428571rem 0.8571428571rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-transform: none;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn-primary {
  color: #fff;
  background-color: #5846f6;
  border-color: #5846f6;
  text-decoration: none;
  border-radius: 100px;
}
.lumen5-button1 {
  border: 1px solid #5846f6;
  background-color: #fff;
  color: #5846f6;
  text-decoration: none;
}
.lumen5-button2:hover {
  background-color: #5846f6;
  color: white;
}
* {
  font-family: "Poppins", sans-serif;
  text-align: left;
}

.nav-link:hover .dropdown-menu1 {
  display: block;
}
.font-l5 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.01em;
  padding: 10px 20px;
}
.dropdown-item1 {
  display: block;
  width: 100%;
  padding: 0.6rem 1.25rem;
  clear: both;
  font-weight: 400;
  color: #24282f;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}
.font-l5.font-l5--regular {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.01em;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.text-dark {
  color: #48505e !important;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.lumen5-button {
  border: 1px solid #5846f6;
  background-color: #5846f6;
  color: #fff;
  min-width: 70px;
  border: 1px solid #5846f6;
  text-decoration: none;
  border-radius: 100px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.8571428571rem 0.8571428571rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.lumen5-button:hover {
  background-color: #4136a7;
  color: white;
}
.btn,
.dropdown-menu1 > li > a,
.dropdown-menu1 > li > label,
.icons-list > li > a,
.nav li > a > .label,
.nav-tabs > li > a,
.nav-tabs > li > a::after,
.navbar-nav > li > a,
a.label {
  transition: all ease-in-out 0.15s;
}
.lumen5-button2 {
  border: 1px solid #5846f6;
  background-color: #fff;
  color: #5846f6;
  text-decoration: none;
  border-radius: 100px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.8571428571rem 0.8571428571rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

* {
  font-family: "Poppins", sans-serif;
  text-align: left;
}

.footer_container {
  margin-top: 15rem;
  background-color: #24282f;
  height: 27rem;
  display: flex;
  padding: 3rem;
  justify-content: space-between;
}
.footer_container > div:first-child {
  width: 20rem;
  height: 23.3rem;
  padding-left: 3rem !important;
  display: block;
  gap: 3rem;
  margin: 0rem 0rem 0rem 3rem;
  padding: 0rem 0rem 0rem 3rem;
}
.footer_container > div:last-child {
  width: 47rem;
  height: 23.3rem;
  display: flex;
  margin: 0rem 3rem 0rem 0rem;
  padding: 0rem 3rem 0rem 0rem;
}
.footer_container > div:last-child > div {
  width: 15.626rem;
}
.footer_para {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f0f0f4;
  font-size: 1rem;
  margin: 0.5rem 0rem 1rem;
  text-align: left;
  margin: 1.5rem 3rem 0rem 0rem;
}
.footer_span {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f0f0f4;
}
.footer_links {
  list-style-type: none;
  padding: 0px;
  margin-top: 2.5rem !important;
}
.footer_links li {
  margin-bottom: 1rem !important;
  color: #c8cbd9;
  font-size: 0.875rem;
}
.carasouel-d {
  width: 420px;
  height: auto;
  background-color: #fff;
  margin-left: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
}
* {
  font-family: "Poppins", sans-serif;
}

.content_container {
  width: 100%;
  background-color: #fafafb;
  margin: 0rem 0rem 2rem;
  padding: 5rem 2rem 4rem;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.content_container > div {
  width: 43%;
}
.content_container > div:first-child {
  margin: 3rem 0rem 3rem 9rem;
  padding: 0rem 0rem 0rem 9rem;
}
.content_span {
  color: #24282f;
  font-size: 2.3125rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 2rem;
}
.content_p {
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: normal;
  color: #24282f;
  font-size: 1.313rem;
  margin: 1rem 0rem 0rem;
  padding: 1rem 0rem 0rem;
}
.content-btn {
  margin: 3rem 0rem 0rem;
}
.content_v {
  margin: 3rem 0rem 0rem;
  position: relative;
}
.icon-circle {
  position: absolute;
  top: 15%;
  left: 38%;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%);
  transition: all 0.3s ease-in;
  cursor: pointer;
  width: 72px;
  height: 72px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.blogpost {
  height: 980px;
  width: 100%;
  border: 1px solid red;
  background-color: #fafafb;
  padding: 4rem 2rem;
}
.blogpost > div {
  border: 1px solid green;
}
.fontawesome {
  background-color: #5846f6;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.content_blog {
  width: 282px;
  height: 192px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.01em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #24282f;
  margin-top: 2rem;
}
.blog-start {
  color: #5846f6 !important;
}
.blog-start:hover {
  text-decoration: underline;
}
.hr {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 282px;
}
.blog-lumen {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 302px;
  height: auto;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}
.home-page-container .user-thumbnail {
  width: 52px;
  height: 52px;
}
.rounded-circle {
  border-radius: 50% !important;
}
.mx-3 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.flex-column {
  flex-direction: column !important;
}
.company-logo {
  max-width: 120px;
}
.video_container {
  height: 879px;
  width: 100%;
  padding: 4rem 2rem;
}
.video_template {
  color: #24282f;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: bold;
}
.video_d {
  flex-wrap: wrap;
  width: 35%;
  margin: auto;
  text-align: center;
}
.video_drop {
  font-size: calc(1.25625rem + 0.075vw);
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  margin: 1rem 0rem;
}
.video_converter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 75%;
  gap: 1rem;
  margin: auto;
  margin-top: 2rem;
}
.video_converter > div {
  height: 200px;
  width: 350px;
}
.video-sub {
  height: 200px;
  width: 350px !important;
  position: relative;
}
.carousel-div {
  width: 895px;
  height: 385px;
  margin: auto;
  margin-top: 1.5rem;
}
.carasouel-img {
  height: 96px;
  width: 388px;
  margin: 0.5rem 0rem;
  padding: 1rem;
}
.carasouel-img img {
  vertical-align: middle;
  border-style: none;
  width: 120px;
  height: 64px;
}
.carasouel-para {
  width: 388px;
  height: auto;
  margin: 0.25rem 0rem;
  padding: 0rem 1rem;
}
.carasouel-para > p {
  color: #24282f;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.carasouel-author {
  width: 388px;
  height: 48px;
  margin: 0.25rem 0rem;
  padding: 0rem 1rem;
  color: #24282f;
}
.carasouel-hr {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.25rem;
  padding: 0rem 1rem;
  gap: 10%;
}
.carasouel-hr > div:first-child {
  margin-top: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;

  width: 50%;
}
.carasouel-link {
  flex: 0 0 41.66666667%;
  max-width: 41.66666667%;
  color: #24282f;
  text-decoration: none;
}

.carasouel-container {
  background-color: #fafafb;
  margin: 0rem 0rem 2rem;
  padding: 5rem 2rem 4rem;
  width: 100%;
}
.carasouel-head {
  width: 760px;
  height: 125px;
  margin: auto;
  padding: 0px 15px;
  text-align: center !important;
  display: block;
}
.carasouel-head > span {
  font-size: 2.3125rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: normal;
}
.carasouel-head > p {
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  margin-top: 1rem;
}
.carasouel-company {
  width: 984px;
  height: 55px;
  padding: 0px 48px;
  display: flex;
  gap: 2rem;
  margin: auto;
  margin-top: 40px;
}
.carasouel-company img {
  width: 102px;
  height: 55px;
}
.tips-container {
  height: 686px;
  width: 100%;
  margin: 0px 0px 32px;
  padding: 64px 32px;
}
.tips-container > div:first-child {
  width: 546px;
  height: 100px;
  margin: auto;
  text-align: center;
}
.tips-container span {
  text-align: center !important;
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
  font-size: 2.3125rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: normal;
  font-family: "Poppins", sans-serif;
}
.tips-box {
  width: 950px;
  height: 395px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.tips-box > div {
  width: 250px;
  height: 100%;
  /* border: 1px solid green; */
  border-radius: 10px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.tips-box img {
  height: 40%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tips-blog {
  padding: 1.25rem;
  flex: 1 1 auto;
  min-height: 1px;
  height: 180px;
}
.tips-blog > p {
  color: #24282f;
  font-size: 16px;
}
.tips-blog > h5 {
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: normal;
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.tips-footer {
  border-radius: 0 0 0.25rem 0.25rem;
  text-align: right !important;
  padding: 0.75rem 1.25rem;
  font-family: "Poppins", sans-serif;
  color: #5846f6;
}
.tips-footer:hover {
  text-decoration: underline;
}
.text-primary {
  text-decoration: none;
}
.icon-circle-temp {
  position: absolute;
  top: 15%;
  left: 38%;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%);
  transition: all 0.3s ease-in;
  cursor: pointer;
  width: 72px;
  height: 72px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.explore-container {
  height: 788px;
  width: 100%;
  margin: 0px 0px 32px;
  padding: 64px 32px;
}
.lumen5-button1:hover {
  background-color: #4136a7;
}
.explore-sub-container {
  width: 80%;
  height: 100%;
  margin: auto;
}
.explore-head {
  height: 50px;
  width: 100%;
  text-align: center;
}
.explore-head > span {
  font-size: 2.3125rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: normal;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.explore-btn {
  height: 58px;
  width: 100%;
  margin: 32px 0px;
  display: flex;
  justify-content: space-around;
}
.explore-btn > button {
  background-color: #ffffff;
  color: #5846f6;
  height: 42px;
  width: auto;
  margin: 0px 5px 16px 0px;
  padding: 8px 16px;
  border: 1px solid #5846f6;
  text-align: center;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
}
.explore-btn > button:hover {
  background-color: #4136a7;
  color: white;
  text-decoration: underline;
}
.explore-template {
  height: 487px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.explore-template > div {
  height: 200px;
  width: 350px;
  padding: 0px 15px;
  margin: 16px 0px;
  position: relative;
}
.explore-play {
  color: #000;
  opacity: 0.4;
  font-size: 24px;
}
.exploreplay-div {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 30%;
  left: 40%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
}
.explore-template > div:hover .explore-play,
.explore-template > div:hover .exploreplay-div,
.video-sub:hover > .exploreplay-div {
  display: none;
}
.footer-copyright {
  height: 70px;
  background-color: #1b1b1b;
  display: flex;
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
  justify-content: space-around;
  gap: 60%;
}
.footer-copyright > div:first-child > span {
  color: #dedce2;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  flex-grow: 1 !important;
}
.footer-copyright > div:last-child > span {
  color: #dedce2;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  flex-grow: 1 !important;
}
.bespoke-container {
  width: 100%;
  height: 955px;
  padding: 64px 32px;
  margin: 8px 0px;
}
.bespoke-header {
  width: 760px;
  height: 126px;
  padding: 0px 15px;
  margin: auto;
}
.bespoke-span {
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: normal;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 2.3125rem;
  text-align: center;
}
.bespoke-h5 {
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: normal;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1.3125rem;
  text-align: center;
  margin: 1rem 1rem;
}
.bespoke-video {
  height: 700px;
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.bespoke-video > div {
  border-radius: 10px;
}
.pricing {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
}


@media all and (min-width:401px) and (max-width:720px){
  .content_container {
    padding-top: 10 !important;
    margin-top: 10px !important;
    display: flex !important;
    flex-direction: column !important; 
    justify-content: space-around;
    gap: 3rem;
    width: 100px !important;
    height: 1000px !important;
    margin-left: 0px !important;
  }
  .content_container > div:first-child{
    padding: 0;
    width: 1000px !important;
    font-size: 20px !important;
    height: auto !important;
    text-align: left;
    margin-left: -50px !important;
  }
  .content_span {
    color: #24282f;
    font-size: 2.3125rem !important;
    height: auto !important;
  }
  .content_p {
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: normal;
    color: #24282f;
    font-size: 1.4rem !important;
    padding: 1rem 0rem 0rem;
  }
  .content-btn {
    margin: 3rem 5rem 0rem;
  }
  btn-lg{
    width: 400px !important;
  }
  .content_v {
    margin-left: 100px !important;
    width: 300px !important;
    margin-top: -40px !important;
  }
  .compony{
    gap: 10px !important;
    margin-left: -10px !important;
    font-size: 14px !important;
    height: auto !important;
  }
  .compony>img{
    width: 40px;
    margin-top: 20px;
  }
  .video_template {
    font-size: 20px !important;
    width: 200px !important;
  }
  .video_d {
    flex-wrap: wrap;
    width: 100% !important;
    margin: auto;
    text-align: center;
  }
  .video_converter {
    display: grid;
    grid-template-columns: repeat(1,1fr) !important;
    width: 100% !important;
    gap: 1rem !important;
    margin: auto;
    margin-top: 1rem;
  }
  .video_container {
    height: auto !important;
    width: 100%;
    padding: 4rem 2rem;
  }
  .video_container img{
    width: 100% !important;
    height: 100px !important;
    margin-bottom: 10px !important;
  }
  .content_container {
   display: none !important;
  }
  .explore-container {
    height: auto !important;
    width: 100%;
    margin: auto !important;
    padding: auto;
  }
  .explore-head {
    height: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px !important;
  }
  .explore-head > span {
    font-size: 2.3125rem;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: normal;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }
  .explore-btn {
    height: 58px;
    width: 100%;
    margin: 32px 0px;
    display: flex;
    flex-direction: column !important;
    justify-content: space-around;
    margin-top: 300px !important;
  }
  .explore-template {
    margin-top: 100px !important;
    margin-left: -50px !important;
    height: auto !important;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 10px;
  }

  .carasouel-container {
    background-color: #fafafb;
    margin: 10px !important;
    padding: 5px !important;
    width: 100%;
  }
  .carasouel-head {
    width: auto !important;
    height: auto !important;
    margin: auto;
    padding: 0px 15px;
    text-align: center !important;
    display: block;
  }
  .carasouel-head > span {
    font-size: 2.3125rem;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: normal;
  }
  .carasouel-head > p {
    font-size: 1.3125rem;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    margin-top: 1rem;
  }
  .carasouel-d {
   display: none !important;
  }
  .carousel-div {
    width: auto !important;
    height: auto !important;
    margin: auto;
    margin-top: 1.5rem;
  }
  .carasouel-img {
    height: 96px;
    width: auto !important;
    margin: 0.5rem 0rem;
    padding: 1rem;
  }
  .carasouel-img img {
    vertical-align: middle;
    border-style: none;
    width: 50px !important;
    height: 64px;
  }
  .carasouel-para {
    width: 100px !important;
    height: auto;
    font-size: 13px !important;
    margin: 0.25rem 0rem;
    padding: 0rem 1rem;
  }
  .carasouel-para > p {
    color: #24282f;
    font-size: 10px !important;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
  }
  .carasouel-company {
    width: 100% !important;
    height: 55px ;
    padding: 0px 10px !important;
    display: flex;
    gap: 10px !important;
    margin: auto;
    margin-top: 40px;
  }
  .carasouel-company img {
    width: 60px !important;
    height: 25px !important;
  }





  .tips-container {
    height: auto !important;
    width: 100%;
    margin: 0px 0px 20px !important;
    padding: 5px !important
  }
  .tips-container > div:first-child {
    width: auto !important;
    height: auto !important;
    margin: auto;
    text-align: center;
  }
  .tips-container span {
    text-align: center !important;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    font-size: 2.3125rem;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: normal;
    font-family: "Poppins", sans-serif;
  }
  .tips-box {
    gap: 15px;
    width: 100% !important;
    height: auto !important;
    /* margin: auto; */
    margin-left:70px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
  }
  .tips-box > div {
    width: 250px;
    height: 100%;
    /* border: 1px solid green; */
    border-radius: 10px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  }
  .tips-box img {
    height: 40%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .tips-blog {
    padding: 1.25rem;
    flex: 1 1 auto;
    min-height: 1px;
    height: 180px;
  }
  .tips-blog > p {
    color: #24282f;
    font-size: 16px;
  }
  .tips-blog > h5 {
    font-size: 1.3125rem;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: normal;
    margin-top: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }
  .tips-footer {
    border-radius: 0 0 0.25rem 0.25rem;
    text-align: right !important;
    padding: 0.75rem 1.25rem;
    font-family: "Poppins", sans-serif;
    color: #5846f6;
  }

  .dd{
    margin-left: 0 !important;
    width: 100% !important;
  }
  .dd>img{
    width: 100% !important;
    height: 250px !important;
  }



  .footer_container {
    margin-top: 1rem !important;
    background-color: #24282f;
    height: 27rem;
    display: flex;
    padding: 0 !important;
    padding-left: 0 !important;
    justify-content: space-between;
    text-align: left !important;
  }
  .footer_container > div:first-child {
    width: 100% !important;
    height: 15.3rem !important;
    padding-left: 3rem !important;
    display: block;
    gap: 3rem;
    margin: 0rem 0rem 0rem 3rem;
    padding: 0rem 0rem 0rem 3rem;
    text-align: left !important;
  }
  .footer_container > div:last-child {
    width: 47rem;
    height: 23.3rem;
    display: flex;
    margin: 0rem 3rem 0rem 0rem;
    padding: 0rem 3rem 0rem 0rem;
    text-align: left !important;
  }
  .footer_container > div:last-child > div {
    width: 15.626rem;
    text-align: left !important;
  }
  .footer_para {
   display: none !important;
  }
  .footer_span {
    font-size: 29px !important;
    font-weight: 400;
    line-height: 2.5 !important;
    letter-spacing: 0.02em;
    color: #f0f0f4;
    text-align: left !important;
  }
  .XX{
    display: none !important;
  }
  .footer_links {
    list-style-type: none;
    padding: 0px;
    margin-top: 2.5rem !important;
    text-align: left !important;
  }
  .footer_links li {
    margin-bottom: 1rem !important;
    color: #c8cbd9;
    font-size: 20px !important;
  }
  .footer-copyright {
    width: 100% !important;
    height: 70px;
    flex-direction: column !important;
    padding-left: 30px !important;
    gap: 20px !important;
  }
  .KK{
    margin-left:-190px !important;
    margin-top: 30px !important;
  }
  .imgff{
    margin-left: 40px !important;
  }
  .navbar {
    position: absolute;
    display: flex;
  }
  .fixed-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  .navbar-expand-lg {
    flex-flow: row nowrap !important;
    justify-content: flex-start !important;
  }

  .pl-md-5,
  .px-md-5 {
    padding-left: 0 !important;
  }
  .pl-md-4,
  .px-md-4 {
    padding-left: 0 !important;
  }
  .ml-md-5,
  .mx-md-5 {
    margin-left: 0 !important;
  }

  .navbar-expand-lg .navbar-toggler {
    display: block;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}