.btnGetStarted:hover {
  color: white;
}

Th {
  text-align: center !important;
}
Thead > Tr > Th :nth-child(1) {
  text-align: center !important;
}
Td {
  text-align: center !important;
  font-size: 18px;
}
.stybillActive {
  background-color: #48505e;
  color: white !important;
}
.stybillDeactive {
  background-color: white;
  color: #48505e;
}
.activeBtn {
  background-color: #5846f6 !important;
  color: white !important;
}
Tbody {
  border-top: 2.5px solid #cccccc;
}
